@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --gray: #1a1a1a;
  --white: #fff;
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: inherit;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

/*
===============
Header
===============
*/

#header {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 999;
}
#header .header_container {
  display: flex;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  flex-direction: column;
}
#header .header_container > div:first-child {
  display: flex;
  justify-content: space-between;
  height: 90px;
}
.logo_container a {
  display: block;
}
.logo_container .logo {
  font-weight: 500;
  line-height: 90px;
}
#header .header_container .header_icons_container {
  display: flex;
}
#header .header_container .header_icons_container .header_icon {
  width: 90px;
  height: 100%;
}
.stroke_small {
  stroke-width: 0.07em;
}

#header nav ul {
  display: flex;
  justify-content: center;
}
#header nav ul li {
  width: 100px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}
#header nav ul li a {
  display: block;
}
#header nav ul li:hover,
.link_active {
  color: var(--white);
}

/*
===============
Slider
===============
*/

#slider {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.panel {
  min-width: 100%;
  height: 100%;
  display: block;
  padding-top: 130px;
  box-sizing: border-box;
}
.panel_container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.about {
  background-color: #007ee4;
}
.about .about_me {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50px;
  padding: initial;
}
.about .about_me > :not(:last-child) {
  margin-bottom: 15px;
}
.about .about_me .am_header {
  text-align: center;
}
.about .about_me .am_picture {
  width: 100px;
  height: 100px;
}
.about .about_me .am_summary {
  padding: 15px;
}
.about .about_me .am_summary p {
  white-space: pre-line;
  word-break: break-word;
}
.about .about_me .am_skills {
  display: flex;
}
.about .about_me .am_skills .skill_icon {
  padding: 5px;
}

.projects {
  background-color: orange;
}
.contact {
  background-color: var(--gray);
}

/*
===============
Global
===============
*/

.flex_ui {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white_border {
  border: 2px solid #fff;
  padding: 10px;
  box-sizing: border-box;
}

/* text select color */
::selection {
  background-color: var(--white);
  color: #0a0a0a;
}
::-moz-selection {
  background-color: var(--white);
  color: #0a0a0a;
}
::-webkit-selection {
  background-color: var(--white);
  color: #0a0a0a;
}
