:root {
	--blue: #008cff;
	--purple: #8c00ff;
	--green: #0cc02a;
	--pink: #ff008c;
	--red: #9a0909;
	--orange: #ff8c00;
	--gray: #1a1a1a;
}

.App {
	width: 100%;
	height: 100vh;
	background-color:var(--gray);
}

#Panels {
	width: inherit;
	height: inherit;
	max-width: 1920px;
	max-height: 1080px;
}

.panel {
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: top .9s cubic-bezier(0.825, 0, 0.5, 1);
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.hide_panel {
	top: -100%;
}

/*
===============
Header
===============
*/

.header {
	position: fixed;
	width: 100%;
	height: 90px;
	z-index: 10;
}

.header .header_container {
	display: flex;
	justify-content: space-between;
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.header .logo {
	padding: 15px;
}

.header .icons_container {
	display: flex;
	height: 100%;
}

.header .icons_container .icon {
	color: #fff;
	font-size: 2rem;
	width: 100px;
	cursor: pointer;
}

.icon:not(:last-child) {
	margin-right: 5px;
}

/*
===============
Menu
===============
*/

.menu {
	position: fixed;
	width: 250px;
	top: 30%;
	left: 0;
	z-index: 10;
}

.menu .menu_container {
	padding: 5px 0;
	color: rgba(255, 255, 255, .5);
	font-size: 2rem;
}

.menu_list {
	padding-left: 35px;
}

.menu_item {
	display: flex;
	align-items: center;
	min-height: 40px;
	text-align: left;
}

.menu_active,
.menu_link:hover {
	color: #fff;
}

.menu_item:not(:last-child) {
	margin-bottom: 9px;
}

.sub_menu {
	display: block;
}

.sub_menu > span {
	display: block;
	margin-bottom: 5px;
}

.projects_list {
	padding-left: 15px;
}

.sub_list {
	font-size: 1rem;
}

.sub_list > li {
	height: 30px;
	display: flex;
	align-items: center;
}

.sub_list > li:not(:last-child) {
	margin-bottom: 5px;
}

/*
===============
Panels
===============
*/

.home {
	background-color: var(--blue);
	z-index: 9;
}

.show_projects {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	color: #fff;
}

.projects_btn {
	background: transparent;
	height: 40px;
	width: 150px;
	color: #fff;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
}

.comments {
	background-color: var(--purple);
	z-index: 8;
}

.search {
	background-color: var(--pink);
	z-index: 7;
}

.queue {
	background-color: var(--green);
	z-index: 6;
}

.discover {
	background-color: var(--red);
	z-index: 5;
}

.about {
	background-color: var(--orange);
	z-index: 4;
}

/*
===============
Not found page
===============
*/

.not-found-message {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.go-home {
	color: var(--red);
}

/*
===============
Card
===============
*/

.card {
	display: grid;
	grid-template-columns: repeat(2, 500px);
	grid-column-gap: 50px;
	width: 1050px;
	height: 500px;
}

.grid-normal {
	grid-template-areas: 'col1 col2'
}

.grid-reverse {
	grid-template-areas: 'col2 col1'
}

.grid-box-one {
	grid-area: col1;
}

.grid-box-two {
	grid-area: col2;
}

.card-ui {
	padding: 15px;
	box-sizing: border-box;
	text-align: center;
}

.content_image {
	padding: 30px;
}

.content-picture {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	overflow: hidden;
}

.card_header {
	margin-bottom: 15px;
}

.card_content {
	padding: 15px 0;
	text-align: left;
	font-size: 20px;
}

.card_content > p:not(:last-child) {
	margin-bottom: 15px;
}

.card_skills {
	padding: 5px;
	height: 70px;
	color: #fff;
	box-sizing: border-box;
}

/*
===============
Common classes
===============
*/

.flex-ui {
	display: flex;
	justify-content: center;
	align-items: center;
}

.skill_icon {
	font-size: 3rem;
	padding: 5px;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
}

.skill_icon:not(:last-child) {
	margin-right: 15px;
}

/*
===============
Individual cards
===============
*/

.home-card {
	margin-top: 50px;
}

.home-card .card_header h2 {
	text-align: left;
}