.App {
	width: 100%;
	height: 100vh;
	background-color: #1a1a1a;
}

.panel {
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: top .9s cubic-bezier(0.825, 0, 0.5, 1);
}

.header {
	position: fixed;
	width: 100%;
	height: 90px;
	z-index: 10;
}

.header .header_container {
	display: flex;
	justify-content: space-between;
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.header .logo {
	padding: 15px;
}

.header .icons_container {
	display: flex;
	height: 100%;
}

.header .icons_container .icon {
	color: #fff;
	font-size: 2rem;
	width: 100px;
	cursor: pointer;
}

.icon:not(:last-child) {
	margin-right: 5px;
}

.menu {
	position: fixed;
	width: 250px;
	top: 30%;
	left: 0;
	z-index: 10;
}

.menu .menu_container {
	padding: 5px 0;
	color: rgba(255, 255, 255, .5);
	font-size: 2rem;
}

.menu_list {
	padding-left: 35px;
}

.menu_item {
	display: flex;
	align-items: center;
	min-height: 40px;
	text-align: left;
}

.menu_active,
.menu_link:hover {
	color: #fff;
}

.menu_item:not(:last-child) {
	margin-bottom: 9px;
}

.sub_menu {
	display: block;
}

.sub_menu > span {
	display: block;
	margin-bottom: 5px;
}

.projects_list {
	padding-left: 15px;
}

.sub_list {
	font-size: 1rem;
}

.sub_list > li {
	height: 30px;
	display: flex;
	align-items: center;
}

.sub_list > li:not(:last-child) {
	margin-bottom: 5px;
}

.home {
	background-color: rgb(0, 140, 255);
	z-index: 9;
}

.projects {
	background-color: rgb(140, 0, 255);
	z-index: 8;
}

.about {
	background-color: rgb(255, 140, 0);
	z-index: 7;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.card {
	display: grid;
	grid-template-columns: repeat(2, 600px);
	grid-column-gap: 50px;
	width: 1250px;
	height: 400px;
}

.card-ui {
	padding: 15px;
	box-sizing: border-box;
	text-align: center;
}

.aboutme_image {
	padding: 30px;
}

.profile-picture {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	overflow: hidden;
}

.info_header {
	margin-bottom: 15px;
}

.info_content {
	padding: 15px 0;
	text-align: left;
	font-size: 20px;
}

.info_content > p:not(:last-child) {
	margin-bottom: 5px;
}

.info_footer {
	padding: 5px;
	box-sizing: border-box;
}

.show_projects {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	color: #fff;
}

.projects_btn {
	background: transparent;
	height: 40px;
	width: 150px;
	color: #fff;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
}

.flex-ui {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide_panel {
	top: -100%;
}