.App {
	width: 100%;
	height: 100vh;
	background-color: #1a1a1a;
}

.panel {
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: top .9s cubic-bezier(0.825, 0, 0.5, 1);
}

.header {
	position: fixed;
	width: 100%;
	height: 90px;
	background-color: green;
	z-index: 10;
}

.header .header_container {
	display: flex;
}

.home {
	background-color: rgb(0, 140, 255);
	z-index: 9;
}

.projects {
	background-color: rgb(140, 0, 255);
	z-index: 8;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.card {
	display: grid;
	grid-template-columns: repeat(2, 600px);
	grid-column-gap: 50px;
	width: 1250px;
	height: 400px;
}

.card-ui {
	padding: 15px;
	box-sizing: border-box;
	text-align: center;
}

.aboutme_image {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.profile-picture {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	overflow: hidden;
}

.info_header {
	margin-bottom: 15px;
}

.info_content {
	padding: 15px 0;
	text-align: left;
	font-size: 20px;
}

.info_content > p:not(:last-child) {
	margin-bottom: 5px;
}

.info_footer {
	padding: 5px;
	box-sizing: border-box;
}