@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --blue: #007ee4;
  --purple: #6100b1;
  --green: #0cc02a;
  --pink: #bf0069;
  --red: #9a0909;
  --orange: #d67500;
  --gray: #1a1a1a;
  --white: #fff;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
p {
  color: var(--white);
  margin: 0;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
}

img {
  width: 100%;
  height: 100%;
}

*:focus {
  outline-color: var(--white);
}

.App {
  width: 100%;
  height: 100vh;
  background-color:var(--gray);
}

#Panels {
  width: inherit;
  height: inherit;
  position: relative;
}

.panel {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: top .9s cubic-bezier(0.825, 0, 0.5, 1);
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.hide_panel {
  top: -100%;
}

/*
===============
Header
===============
*/

.header {
  position: absolute;
  width: 100%;
  height: 90px;
  z-index: 10;
}
.header .header_container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.header .logo {
  padding: 15px;
}
.header .icons_container {
  display: flex;
  height: 100%;
}
.header .icons_container .icon {
  color: var(--white);
  font-size: 1.5rem;
  width: 70px;
  cursor: pointer;
}
.icon:not(:last-child) {
  margin-right: 5px;
}

/*
===============
Menu
===============
*/

.menu {
  position: absolute;
  width: 250px;
  top: 30%;
  left: 0;
  z-index: 10;
  color: rgba(255, 255, 255, .5);
  font-size: 2rem;
}
.menu_list {
  padding-left: 35px;
}
.menu_list > li:not(:last-child) {
  margin-bottom: 10px;
}
.menu_item,
.sub_menu_item {
  line-height: 40px;
}
.menu_active,
.menu_link:hover {
  color: var(--white);
}
.sub_menu {
  display: block;
}
.sub_menu_item {
  margin-bottom: 5px;
}
.sub_menu_list {
  font-size: 1rem;
  padding-left: 15px;
}
.sub_menu_list > li {
  line-height: 30px;
}
.sub_menu_list > li:not(:last-child) {
  margin-bottom: 5px;
}

/*
===============
Panels
===============
*/

.home {
  background-color: var(--blue);
}

.card_tech {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show_projects {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  color: var(--white);
}
.projects_btn {
  background: transparent;
  height: 40px;
  width: 150px;
  color: var(--white);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.comments {
  background-color: var(--purple);
}

.search {
  background-color: var(--pink);
}

.queue {
  background-color: var(--orange);
}

.discover {
  background-color: var(--red);
}

.about {
  background-color: var(--gray);
}

.about_panel {
  width: 900px;
  height: 500px;
  flex-direction: column;
}
.about_content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 200px);
  grid-gap: 50px;
}
.about_content a {
  color: var(--white);
  text-align: center;
  font-size: 9rem;
}
.about_content p {
  font-size: 1.5rem;
}
.tag-line {
  color: var(--white);
  margin-top: 50px;
}

/*
===============
Not found page
===============
*/

#not_found {
  display: block;
  width: 100%;
  height: 100%;
}
.not_found_message {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.go_home {
  color: var(--red);
}
.is_not_found {
  position: absolute !important;
  background-color: transparent !important;
}

/*
===============
Card
===============
*/

.card {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-column-gap: 50px;
  width: 1050px;
  height: 500px;
}

.grid_normal {
  grid-template-areas: 'col1 col2'
}
.grid_reverse {
  grid-template-areas: 'col2 col1'
}
.grid_one {
  grid-area: col1;
}
.grid_two {
  grid-area: col2;
}

.card_ui {
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}
.content_image {
  padding: 30px;
}
.content_picture {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
}
.card_header {
  margin-bottom: 15px;
}
.content_header h1 {
  margin-bottom: 5px;
}
.center_text {
  text-align: center;
  margin-bottom: 25px;
}
.card_content {
  text-align: left;
  font-size: 20px;
  min-height: 300px;
}
.content_list {
  margin: 0 30px;
}
.content_list ul {
  list-style: inherit;
  list-style-position: inside;
}
.content_list ul li:not(:last-child) {
  margin-bottom: 5px;
}

.project_image {
  overflow: hidden;
  height: 500px;
}
.project_image img {
  height: initial;
}

/*
===============
Individual cards
===============
*/

.home_card {
  width: 470px;
}
.home_card > div:not(:last-child) {
  margin-bottom: 15px;
}
.home_card .card_header h2 {
  text-align: left;
}
.home_card .home_content {
  text-align: left;
  font-size: 20px;
}
.home_card .home_content > p:not(:last-child) {
  margin-bottom: 10px;
}

/*
===============
Common classes
===============
*/

.flex_ui {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech_icon {
  color: var(--white);
  font-size: 3rem;
  width: 50px;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
}

.text_ui {
  color: var(--white);
}

/* text select color */
::selection {
  background-color: var(--white); 
  color: #0a0a0a; 
}
::-moz-selection { 
  background-color: var(--white); 
  color: #0a0a0a; 
}
::-webkit-selection { 
  background-color: var(--white); 
  color: #0a0a0a; 
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*
===============
Responsiveness
===============
*/

/* Larger than */
@media only screen and (min-width: 1550px) {
  .header .icons_container .icon {
    width: 100px;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1920px) {
  #HackManDo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--gray);
  }

  .App {
    position: relative;
    background-color: var(--gray);
  }

  #Panels {
    height: 100%;
    overflow: hidden;
  }
}

/* Smaller than */
@media only screen and (max-width: 400px) {
  .header .icons_container .icon {
    width: 40px;
  }
}

@media only screen and (max-width: 600px) {
  #Panels .panel {
    padding: 10px;
  }

  .header .logo {
    padding: 0;
  }

  .about_panel .about_content {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: none;
  }

  .home_card {
    width: 100%;
  }

  .card {
    width: 100% !important;
  }

  .project_image {
    width: 100% !important;
  }

  .card_tech {
    display: block;
  }
}

@media only screen and (max-width: 1050px) {
  .home_card {
    margin: 0 auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .card_ui {
    min-height: 500px;
  }

  .card_content {
    max-width: 500px;
    margin: 0 auto;
  }

  .project_image {
    height: initial;
    width: 500px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1500px) {
  .about_panel {
    width: 100%;
    height: 900px;
  }

  .am_link {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1550px) {
  .header {
    position: initial;
    background-color: var(--blue);
  }

  .menu {
    display: none;
  }

  .panel {
    position: initial;
    height: auto;
    padding: 50px;
    box-sizing: border-box;
  }

  .show_projects {
    display: none;
  }

  .home .card .card_ui {
    min-height: initial;
  }
}