@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --gray: #1a1a1a;
  --white: #fff;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
p {
  color: var(--white);
  margin: 0;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
}

img {
  width: 100%;
  height: 100%;
}

*:focus {
  outline-color: var(--white);
}

#HackManDo {
  background-color: var(--gray);
  height: 100vh;
}

/*
===============
Header
===============
*/

.header {
  position: absolute;
  width: 100%;
  height: 90px;
  z-index: 999;
}
.header .header_container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.header .logo {
  padding: 15px;
}
.header .icons_container {
  display: flex;
  height: 100%;
}
.header .icons_container .icon {
  color: var(--white);
  width: 100px;
  font-size: 2rem;
  cursor: pointer;
}
.icon:not(:last-child) {
  margin-right: 5px;
}

.hamburger_menu {
  display: none;
}
.hamburger_menu .menu_button {
  background-color: transparent;
  color: var(--white);
  font-size: 2rem;
}

/*
===============
Menu
===============
*/

.menu {
  position: absolute;
  width: 250px;
  top: 30%;
  left: 0;
  z-index: 999;
  color: rgba(255, 255, 255, .5);
  font-size: 2rem;
}
.menu_list {
  padding-left: 35px;
}
.menu_list > li:not(:last-child) {
  margin-bottom: 10px;
}
.menu_item,
.sub_menu_item {
  line-height: 40px;
}
.menu_active,
.menu_link:hover {
  color: var(--white);
}
.sub_menu {
  display: block;
}
.sub_menu_item {
  margin-bottom: 5px;
}
.sub_menu_list {
  font-size: 1rem;
  padding-left: 15px;
}
.sub_menu_list > li {
  line-height: 30px;
}
.sub_menu_list > li:not(:last-child) {
  margin-bottom: 5px;
}

.mobile_menu {
  z-index: 999;
  color: rgba(255, 255, 255, .5);
  font-size: 2rem;
}

.menu_model {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, .7);
}
.menu_model .menu_model_container {
  height: 100%;
}

.menu_open {
  display: block;
  z-index: 998;
}

/*
===============
Panels
===============
*/

.panel {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: top .9s cubic-bezier(0.825, 0, 0.5, 1);
  background-color: var(--gray);
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.hide_panel {
  top: -100%;
}

.home_card {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-column-gap: 50px;
  height: 500px;
}
.home_card > div {
  padding: 15px;
}
.home_header {
  text-align: center;
}
.content_image {
  padding: 30px;
}
.content_picture {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
}
.portfolio >div:not(:last-child) {
  margin-bottom: 20px;
}
.portfolio_content {
  font-size: 1.25em;
}
.portfolio_content > p:not(:last-child) {
  margin-bottom: 10px;
}
.card_tech {
  justify-content: space-between;
}
.show_projects {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  color: var(--white);
}
.projects_btn {
  background: transparent;
  height: 40px;
  width: 150px;
  color: var(--white);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.about_panel {
  width: 900px;
  height: 500px;
  flex-direction: column;
}
.about_content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 200px);
  grid-gap: 50px;
}
.about_content a {
  color: var(--white);
  text-align: center;
  font-size: 9rem;
}
.about_content p {
  font-size: 1.5rem;
}
.tag-line {
  color: var(--white);
  margin-top: 50px;
}

/*
===============
Card
===============
*/

.card {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-column-gap: 50px;
  width: 1050px;
  height: 500px;
}
.grid_normal {
  grid-template-areas: 'col1 col2'
}
.grid_reverse {
  grid-template-areas: 'col2 col1'
}
.grid_one {
  grid-area: col1;
}
.grid_two {
  grid-area: col2;
}
.card_ui {
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}
.card_header {
  margin-bottom: 15px;
}
.content_header h1 {
  margin-bottom: 5px;
}
.center_text {
  text-align: center;
  margin-bottom: 25px;
}
.card_content {
  text-align: left;
  font-size: 20px;
  min-height: 300px;
}
.content_list {
  margin: 0 30px;
}
.content_list ul {
  list-style: inherit;
  list-style-position: inside;
}
.content_list ul li:not(:last-child) {
  margin-bottom: 5px;
}
.project_image {
  overflow: hidden;
  height: 500px;
}
.project_image img {
  height: initial;
}

/*
===============
Not found page
===============
*/

#not_found {
  display: block;
  height: 300px;
}
.not_found_message {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.go_home {
  color: #007ee4;
}
.is_not_found {
  position: unset;
  background-color: transparent !important;
}

/*
===============
Common classes
===============
*/

.flex_ui {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech_icon {
  color: var(--white);
  font-size: 3rem;
  width: 50px;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
}

.text_ui {
  color: var(--white);
}

/* text select color */
::selection {
  background-color: var(--white); 
  color: #0a0a0a; 
}
::-moz-selection { 
  background-color: var(--white); 
  color: #0a0a0a; 
}
::-webkit-selection { 
  background-color: var(--white); 
  color: #0a0a0a; 
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*
===============
Responsiveness
===============
*/

/* Smaller than */
@media only screen and (max-width: 1050px) {
  .hamburger_menu {
    display: block;
  }

  .menu {
    display: none;
  }
}