:root {
	--blue: #007ee4;
	--purple: #6100b1;
	--green: #0cc02a;
	--pink: #bf0069;
	--red: #9a0909;
	--orange: #d67500;
	--gray: #1a1a1a;
}

.App {
	width: 100%;
	height: 100vh;
	background-color:var(--gray);
}

#Panels {
	width: inherit;
	height: inherit;
	position: relative;
}

.panel {
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: top .9s cubic-bezier(0.825, 0, 0.5, 1);
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.hide_panel {
	top: -100%;
}

/*
===============
Header
===============
*/

.header {
	position: fixed;
	width: 100%;
	height: 90px;
	z-index: 10;
}

.header .header_container {
	display: flex;
	justify-content: space-between;
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.header .logo {
	padding: 15px;
}

.header .icons_container {
	display: flex;
	height: 100%;
}

.header .icons_container .icon {
	color: #fff;
	font-size: 2rem;
	width: 100px;
	cursor: pointer;
}

.icon:not(:last-child) {
	margin-right: 5px;
}

.header .hamburger_menu {
	width: 50px;
	height: 100%;
}

.header .hamburger_menu .burg_menu {
	color: #fff;
	font-size: 2rem;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background-color: transparent;
	z-index: 11;
}

.header .hamburger_menu .burg_menu svg {
	color: #fff;
}

.mobile_menu {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9;
	background-color: var(--gray);
}

.menu_open {
	display: block;
}

.mobile_menu .mm_container {
	padding-top: 90px;
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.mm_list_item {
	width: 100%;
	height: 40px;
	padding-left: 35px;
	box-sizing: border-box;
	line-height: 40px;
	color: #fff;
	cursor: pointer;
}

.mm_list_item:first-child {
	display: flex;
	flex-direction: column;
	margin-bottom: 45px !important;
}

.mm_list_item:first-child::after{
	content: 'Projects';
	font-size: 2rem;
}

.mm_list_item:not(:last-child) {
	margin-bottom: 15px;
}

.mm_list_item:nth-child(n+2):not(:last-child) {
	padding-left: 55px;
}

/*
===============
Menu
===============
*/

.menu {
	position: fixed;
	width: 250px;
	top: 30%;
	left: 0;
	z-index: 10;
}

.menu .menu_container {
	color: rgba(255, 255, 255, .5);
	font-size: 2rem;
}

.menu_list {
	padding-left: 35px;
}

.menu_item {
	display: flex;
	align-items: center;
	min-height: 40px;
	text-align: left;
}

.menu_link-sub .menu_link{
	line-height: 25px;
	width: 80px;
}

.menu_active,
.menu_link:hover {
	color: #fff;
}

.menu_item:not(:last-child) {
	margin-bottom: 9px;
}

.sub_menu {
	display: block;
}

.sub_menu > span {
	display: block;
	margin-bottom: 5px;
}

.projects_list {
	padding-left: 15px;
}

.sub_list {
	font-size: 1rem;
}

.sub_list > li {
	height: 30px;
	display: flex;
	align-items: center;
}

.sub_list > li:not(:last-child) {
	margin-bottom: 5px;
}

/*
===============
Panels
===============
*/

.home {
	background-color: var(--blue);
	z-index: 9;
}

.show_projects {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	color: #fff;
}

.projects_btn {
	background: transparent;
	height: 40px;
	width: 150px;
	color: #fff;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
}

.comments {
	background-color: var(--purple);
	z-index: 8;
}

.search {
	background-color: var(--pink);
	z-index: 7;
}

.queue {
	background-color: var(--orange);
	z-index: 6;
}

.discover {
	background-color: var(--red);
	z-index: 5;
}

.about {
	background-color: var(--gray);
	z-index: 4;
}

/*
===============
Not found page
===============
*/

.not-found-message {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.go-home {
	color: var(--red);
}

/*
===============
About page
===============
*/

.about_panel {
	flex-direction: column;
	width: 900px;
	height: 500px;
}

.about_panel .am_container {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 200px);
	grid-column-gap: 50px;
}

.am_link {
	color: #fff;
	text-align: center;
	font-size: 9rem;
}

.aml_text {
	font-size: 1.5rem;
}

.tag-line {
	color: #fff;
	position: absolute;
	bottom: 50px;
}

/*
===============
Card
===============
*/

.card {
	display: grid;
	grid-template-columns: repeat(2, 500px);
	grid-column-gap: 50px;
	width: 1050px;
	height: 500px;
}

.grid-normal {
	grid-template-areas: 'col1 col2'
}

.grid-reverse {
	grid-template-areas: 'col2 col1'
}

.grid-box-one {
	grid-area: col1;
}

.grid-box-two {
	grid-area: col2;
}

.card-ui {
	padding: 15px;
	box-sizing: border-box;
	text-align: center;
}

.content_image {
	padding: 30px;
}

.content-picture {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	overflow: hidden;
}

.card_header {
	margin-bottom: 15px;
}

.content_header h1 {
	margin-bottom: 5px;
}

.card_content {
	padding: 15px 0;
	text-align: left;
	font-size: 20px;
	margin-bottom: 30px;
}

.view_project {
	padding: 10px;
	margin-bottom: 15px;
}

.view_project .view_project-link {
	width: 100px;
	color: #fff;
	border: 1px solid #fff;
	padding: 5px;
	display: block;
	margin: 0 auto;
	line-height: 25px;
}

.view_project-link:hover {
	color: #1a1a1a;
	background-color: #fff;
}

.card_content > p:not(:last-child) {
	margin-bottom: 15px;
}

.card_skills {
	padding: 5px;
	height: 70px;
	color: #fff;
	box-sizing: border-box;
}

/*
===============
Common classes
===============
*/

.flex-ui {
	display: flex;
	justify-content: center;
	align-items: center;
}

.skill_icon {
	font-size: 3rem;
	padding: 5px;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
}

.skill_icon:not(:last-child) {
	margin-right: 15px;
}

/*
===============
Individual cards
===============
*/

.home-card .card_header h2 {
	text-align: left;
}

/*
===============
Responsiveness
===============
*/

/* Larger than */
@media only screen and (min-width: 1550px) {
	.hamburger_menu {
		display: none;
	}
}

/* Smaller than */
@media only screen and (max-width: 600px) {
  .card {
		width: 100% !important;
	}

	.about_panel .am_container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
    height: 300px;
	}
}

@media only screen and (max-width: 1050px) {
	.panel {
		height: initial;
    padding-top: 90px;
    min-height: 900px;
	}

  .card {
		width: 50%;
		margin: 0 auto;
		display: flex;
    flex-direction: column;
		height: auto;
	}
}

@media only screen and (max-width: 1500px) {
	.about_panel {
		width: 100%;
	}

	.am_link {
		font-size: 5rem;
	}
}

@media only screen and (max-width: 1550px) {
	.header .icons_container {
		display: none
	}

	.menu {
		display: none;
	}

	.show_projects {
		display: none;
	}

	.panel {
		transition: top .4s cubic-bezier(0.825, 0, 0.5, 1);
	}

	.hide_panel {
		top: -150%;
	}
}